.additional-products {
  padding:25px 20px 0 20px;
  @media (min-width:$tablet-width) {
    padding:68px 30px 0 30px;
  }
}
.additional-products__name {
  font-size: 24px;
  line-height: 24px;
  padding:0 0 36px 0;
  border-bottom:1px solid #CDCDCD;
  @media (min-width: $tablet-width) {
    font-size:36px;
    line-height:36px;
    padding:0 0 80px 37px;
    margin:0;
  }
}
