.additional-name {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  padding:0 115px 34px 20px;
  margin:0 auto;
  box-sizing:border-box;
  max-width:410px;
  background-color: #fff;
  &:after {
    content: "";
    position: absolute;
    right:0;
    top:12px;
    height:2px;
    width:calc(100% - 185px);
    background-color: $basic_green;
  }
  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin:0 0 57px 70px;
  }
  @media (min-width: $desktop-width) {
    margin: 69px 0 0 110px;
  }
}
