.additional-item {
  border-bottom:solid 1px #CDCDCD;
  @media (min-width: $tablet-width) {
    display: flex;
    align-items:center;
    flex-wrap:wrap;
    padding:0 38px;
    margin:26px 0 0 0;
  }
  @media (min-width:$desktop-width) {
    &:first-child {
      border-top:solid 1px #CDCDCD;
    }
    justify-content:space-between;
    padding:0;
    margin:0 38px;
    flex-wrap:nowrap;
  }
}
.additional-item__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  @media (min-width: $tablet-width) {
    width:50%;
    font-size:20px;
    line-height: 20px;
    margin:0;
  }
  @media (min-width: $desktop-width) {
    width:1fr;
  }
}
.additional-item__info {
  width:100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  @media (min-width: $tablet-width) {
    width:50%;
    font-size:16px;
    line-height: 20px;
  }
  @media (min-width: $desktop-width) {
    width:1fr;
  }
}
.additional-item__add-to-busket {
  width:280px;
  height:40px;
  border:none;
  margin:25px 0 20px 0;
  background-color: $basic_green;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  @media (min-width: $tablet-width) {
    width:100%;
  }
  @media (min-width:$desktop-width) {
    width: 244px;
    margin:25px 0 20px 38px;
  }
}
