.additional {
  height: 26px;
  margin: 0 0 16px 20px;

  & label {
    margin: 0 0 0 44px;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
  }

  &:last-child {
    margin: 0 0 0 20px;
  }

  @media (min-width: $tablet-width) {
    margin: 20px 0 0 0;

    &:last-child {
      margin: 0 0 0 0;
    }

    & label {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 0 59px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 40px;

    & label {
      line-height: 40px;
    }
  }
}

.additional__sugar + label,
.additional__water + label,
.additional__milk + label,
.additional__vitamins + label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -44px;
    width: 28px;
    height: 28px;
    border: solid 1px #cdcdcd;
  }

  &:hover {
    cursor: pointer;

    &::before {
      border: 1px solid #bababa;
    }
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: -5px;
      left: -59px;
      width: 38px;
      height: 38px;
    }
  }
}

.additional__sugar:checked + label,
.additional__water:checked + label,
.additional__milk:checked + label,
.additional__vitamins:checked + label {
  &::after {
    content: "";
    position: absolute;
    left: -38px;
    top: 8px;
    width: 18px;
    height: 14px;
    background-image: url("../img/mobile/icon-agree.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: -46px;
      top: 10px;
    }
  }
}

.additional__sugar:disabled + label,
.additional__water:disabled + label,
.additional__milk:disabled + label,
.additional__vitamins:disabled + label {
  opacity: 0.3;
}
