.additional-item {
  border-bottom:solid 1px #CDCDCD;
  @media (min-width: $tablet-width) {
    display: flex;
    align-items:center;
    flex-wrap:wrap;
    padding:26px 38px 0 38px;
    margin:0;
    border:solid 1px #CDCDCD;
  }
  @media (min-width:$desktop-width) {
    width:100%;
    box-sizing:border-box;
    justify-content:space-between;
    padding:0;
    margin:0 0;
    flex-wrap:nowrap;
    border:none;
    border-top:solid 1px #CDCDCD;
    border-bottom:solid 1px #CDCDCD;
    &:first-child {
      border-top:solid 1px #CDCDCD;
    }
  }
}
.additional-item__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  width:280px;
  margin:16px auto;
  @media (min-width: $tablet-width) {
    width:50%;
    font-size:20px;
    line-height: 26px;
    margin:0;
  }
  @media (min-width: $desktop-width) {
    width:100%;
    line-height:20px;
    font-size:20px;
  }
}
.additional-item__info {
  width:280px;
  margin:16px auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  .table-item {
    border:none;
  }
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content:flex-end;
    align-items:center;
    width:50%;
    font-size:16px;
    line-height: 20px;
    margin:0 auto 0 auto;
  }
  @media (min-width: $desktop-width) {
    display: table;
    width:100%;
  }
}
.additional-item__add-to-busket {
  display: block;
  width:280px;
  height:40px;
  border:none;
  margin:22px auto 20px auto;
  background-color: $basic_green;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  @media (min-width: $tablet-width) {
    width:100%;
    margin:25px auto 20px 0;
  }
  @media (min-width:$desktop-width) {
    width: 244px;
    min-width:244px;
    margin:15px 0 17px 38px;
  }
}
