.blog-info {
  display: flex;
  flex-direction: column;
  margin: 22px 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin: 22px 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width:1440px;
    flex-direction: row;
    justify-content: space-between;
    margin: 82px auto 0 auto;
    padding:0 110px;
    box-sizing:border-box;
  }
}

.blog-info__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 266px;
  background: $basic_grey;

  @media (min-width: $tablet-width) {
    height: 372px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 374px;
  }
}

.blog-info__item+.blog-info__item {
  margin: 20px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 30px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
