.catalog-name {
  display: flex;
  font-size: 36px;
  line-height: 36px;
  margin: 27px auto 0 auto;
  padding: 0 0 41px 20px;
  max-width: 410px;
  box-sizing: border-box;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 0 0 24px 0;
    margin: 55px auto 0 auto;
    font-size: 60px;
    line-height: 60px;
    border-bottom: none;
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 0 110px 24px 110px;
    margin: 64px auto 0 auto;
    box-sizing: border-box;
  }
}
