.comments-text {
  width:calc(100% - 40px);
  box-sizing:border-box;
  padding:9px 12px 0 15px;
  margin:38px 20px 0 20px;
  &::placeholder {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }
  @media (min-width: $tablet-width) {
    width:calc(100% - 139px);
    margin:0px 67px 0 70px;
    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
  @media (min-width: $desktop-width) {
    width:calc(100% - 220px);
    max-width:1440px;
    box-sizing:border-box;
    margin:76px 110px 0 110px;
  }
}
