.contacts-name {
  font-size: 24px;
  line-height: 26px;
  margin:0 115px 0 20px;
  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin:0 0 56px 69px;
  }
  @media (min-width: $desktop-width) {
    margin: 69px 0 0px 110px;
  }
}
