.contacts-name {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  padding:0 115px 0 20px;
  box-sizing:border-box;
  max-width:410px;
  margin:0 auto 0 auto;
  background-color: #fff;
  z-index: 120;
  &:after {
    content: "";
    position: absolute;
    right:0;
    top:25px;
    height:2px;
    width:calc(100% - 217px);
    background-color: $basic_green;
  }
  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin:0 0 56px 69px;
  }
  @media (min-width: $desktop-width) {
    margin: 69px 0 0px 110px;
  }
}
