.description__name {
  position: relative;
  margin: 30px 0 0 91px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    margin: 74px 0 0 53px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    margin: 60px 0 0 214px;
  }
}

.description__name--slim {
  &::before {
    content: "";
    position: absolute;
    left: -69px;
    top: -7px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $basic_green;
  }

  &::after {
    content: "";
    position: absolute;
    left: -70px;
    top: -9px;
    width: 50px;
    height: 50px;
    background-image: url("../img/mobile/index/cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      left: 395px;
      top: 15px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $basic_green;
    }

    &::after {
      content: "";
      position: absolute;
      left: 414px;
      top: 3px;
      width: 155px;
      height: 195px;
      background-size: 160px 200px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      left: -162px;
      top: -29px;
      width: 100px;
      height: 100px;
    }

    &::after {
      content: "";
      left: -162px;
      top: -38px;
      width: 100px;
      height: 106px;
      background-image: url("../img/mobile/index/cat-slim.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100px 106px;
    }
  }
}

.description__name--fat {
  &::before {
    content: "";
    position: absolute;
    left: -69px;
    top: -6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $basic_green;
  }

  &::after {
    content: "";
    position: absolute;
    left: -82px;
    top: -7px;
    width: 75px;
    height: 50px;
    background-image: url("../img/mobile/index/cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      left: 395px;
      top: 15px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $basic_green;
    }

    &::after {
      content: "";
      position: absolute;
      left: 360px;
      top: 60px;
      width: 268px;
      height: 112px;
      background-size: 268px 112px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      left: -162px;
      top: -29px;
      width: 100px;
      height: 100px;
    }

    &::after {
      content: "";
      left: -184px;
      top: -17px;
      width: 140px;
      height: 75px;
      background-size: 140px 75px;
    }
  }
}

.description__info {
  margin: 29px 30px 0 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special__dark-gray;

  @media (min-width: $tablet-width) {
    margin: 25px 277px 0 52px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    margin: 75px 51px 0 52px;
  }
}
.description--fat {
  .description__info {
    @media (min-width: $tablet-width) {
      margin:25px 315px 0 52px;
    }

    @media (min-width: $desktop-width) {
      margin: 75px 51px 0 52px;
    }
  }
}
.description__link {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 39px;
  margin: 20px 20px 20px 20px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;
  color: #000000;

  &::after {
    content: "";
    position: absolute;
    left: 102px;
    bottom: 5px;
    width: 32px;
    height: 10px;
    background-image: url("../img/mobile/icon_arrowSmall.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      background-image: url("../img/mobile/icon-arrow.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    align-items: center;
    margin: 52px 0 77px 52px;
    border-top: none;
    font-size: 20px;
    line-height: 30px;

    &::after {
      left: 133px;
      bottom: 12px;
      width: 32px;
      height: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 23px 0 70px 52px;
  }
}
