.how-it-work {
  display: flex;
  flex-direction: column;
  padding:0 20px;
  box-sizing:border-box;
  margin: 27px auto 0 auto;
  max-width:410px;
  @media (min-width: $tablet-width) {
    margin: 45px 0 0 0;
    padding: 0 30px;
    border-bottom: solid 1px #E6E6E6;
    max-width:none;
  }

  @media (min-width: $desktop-width) {
    max-width:1440px;
    margin: 71px auto 0 auto;
    padding: 0 110px;
    border-bottom: none;
    box-sizing:border-box;
  }
}

.how-it-work__name {
  margin: 0;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-work__list {
  list-style-type: none;
  margin: 18px 0 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 32px 0 0 0;
  }
}

.how-it-work__list-item {
  position: relative;
  padding: 0 0 0 80px;
  margin:20px 0 0 0;
  height: 60px;
  &:before {
    content: "";
    position: absolute;
    left:0;
    top:0;
    width:60px;
    height:60px;
    background-color:$basic_green;
  }
  @media (min-width: $tablet-width) {
    margin: 0;
    width: 40%;
    min-width: 230px;
    height: 280px;
    border: solid 1px black;

    &:nth-child(3),
    &:last-child {
      margin: 37px 0 47px 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 230px;

    &:nth-child(3),
    &:last-child {
      margin: 0 0 0 0;
    }
  }
}
.how-it-work__list-item.how-it-work__list-item--leaf {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:60px;
    height:60px;
    background-image:url('../../img/mobile/icon_leaf.svg');
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size:30px 30px;
  }
}
.how-it-work__list-item.how-it-work__list-item--libra {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:60px;
    height:60px;
    background-image:url('../../img/mobile/icon_alarm.svg');
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size:30px 30px;
  }
}
.how-it-work__list-item.how-it-work__list-item--water {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:60px;
    height:60px;
    background-image:url('../../img/mobile/icon_tub.svg');
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size:30px 30px;
  }
}
.how-it-work__list-item.how-it-work__list-item--knife {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:60px;
    height:60px;
    background-image:url('../../img/mobile/icon_eat.svg');
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size:30px 30px;
  }
}
.how-it-work__item-text {
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 129%;
  color: $special__dark-gray;

  @media (min-width: $tablet-width) {
    margin: 151px 0 0 0;
    width: 201px;
    font-size: 16px;
    line-height: 24px;
  }
}
