.how-it-work {
  display: flex;
  flex-direction: column;
  margin: 27px 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin: 45px 0 0 0;
    padding: 0 30px;
    border-bottom: solid 1px #E6E6E6;
  }

  @media (min-width: $desktop-width) {
    max-width:1440px;
    margin: 71px auto 0 auto;
    padding: 0 110px;
    border-bottom: none;
    box-sizing:border-box;
  }
}

.how-it-work__name {
  margin: 0;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-work__list {
  list-style-type: none;
  margin: 18px 0 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 32px 0 0 0;
  }
}

.how-it-work__list-item {
  margin: 20px 0 0 80px;
  height: 60px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 40%;
    min-width: 230px;
    height: 280px;
    border: solid 1px black;

    &:nth-child(3),
    &:last-child {
      margin: 37px 0 47px 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 230px;

    &:nth-child(3),
    &:last-child {
      margin: 0 0 0 0;
    }
  }
}

.how-it-work__item-text {
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 129%;
  color: $special__dark-gray;

  @media (min-width: $tablet-width) {
    margin: 151px 0 0 0;
    width: 201px;
    font-size: 16px;
    line-height: 24px;
  }
}
