.invite-to-work {
  height: 114px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 28px 0;
}

.invite-to-work__name {
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    font-size:20px;
    line-height: 21px;
  }
}
.invite-to-work__adress {
  color:$special__dark-gray;
  @media (min-width: $tablet-width) {
    font-size:16px;
    line-height: 20px;
  }
}
