.invite-to-work {
  height: 114px;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 28px 20px;
  @media (min-width: $tablet-width) {
    padding:61px 71px 51px 71px;
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}
.invite-to-work--bc-white {
  background-color: #fff;
}
.invite-to-work__wrapper {
  display: flex;
  justify-content: space-between;
  max-width:410px;
}
.invite-to-work__name {
  font-size:16px;
  line-height: 18px;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    width:171px;
    font-size:20px;
    line-height: 21px;
  }
}
.invite-to-work__adress {
  font-size:14px;
  line-height: 20px;
  color:$special__dark-gray;
  @media (min-width: $tablet-width) {
    text-align: right;
    width:151px;
    font-size:16px;
    line-height: 20px;
  }
}
