.main-nav {
  display: flex;
  justify-content:flex-end;
  flex-grow:1;
}
.main-nav__toogle {
  display: flex;
  align-items:center;
  background:none;
  margin:0;
  padding:0;
  border:none;
  outline: none;
  @media (min-width: $tablet-width) {
    display: none;
  }
}
.main-nav__toogle span {
  position: relative;
  width:24px;
  height:1.5px;
  background:#000;
  &::before {
    content: "";
    position: absolute;
    top:-8px;
    left:0;
    width:24px;
    height:1.5px;
    background: #000;
  }
    &::after {
    content: "";
    position: absolute;
    top:8px;
    left:0;
    width:24px;
    height:1.5px;
    background: #000;
  }
}
