.page-footer {
  width:100%;
  background-color: $basic_grey;
}

.page-footer__additional-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width:410px;
  margin:0 auto;
  padding:0 20px;
  @media (min-width: $tablet-width) {
    height: 149px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    max-width:none;
    margin:0;
  }
}
.page-footer__logo {
  margin:39px 20px 32px 20px;
}
