.page-main__name {
  margin:27px auto 0 auto;
  padding:0 0 0 20px;
  font-size: 36px;
  line-height: 36px;
  max-width:410px;
  box-sizing:border-box;
  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin:65px 0 0 70px;
  }
  @media (min-width: $desktop-width) {
    width:100%;
    max-width:1440px;
    box-sizing:border-box;
    margin:73px auto 0 auto;
    padding:0 0 0 110px;
  }
}
