.page-header {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 11px 0 16px 0;
  z-index: 100;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    padding: 24px 30px 12px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 1440px;
    padding: 53px 110px 12px 110px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.page-header__logo-tablet {
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    width: 175px;
    height: 51px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-image {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 175px;
    height: 51px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
