.promo {
  position: relative;
  width: 100%;
  color: #ffffff;

  @media (min-width: $desktop-width) {
    height: 585px;
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.promo__header {
  margin: 27px auto 0 auto;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  max-width: 300px;

  @media (min-width: $tablet-width) {
    width: 414px;
    margin: 54px 0 0 86px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    margin: 100px 0 0 190px;
  }
}

.promo__text {
  margin: 25px 0 0 0;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 40px 0 0 87px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    margin: 40px 0 0 190px;
  }
}

.promo__image-wrapper {
  margin: 5px auto 0 auto;
}

.promo__image {
  margin: 25px auto 0 auto;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    padding: 0 0 0 0;
    box-sizing: border-box;
    margin: 15px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 555px;
    width: 552px;
    max-width: 552px;
    height: 499px;
  }
}

.promo__form-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  margin: 0 auto 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: $basic_green;
  font-size: 14px;
  list-height: 20px;

  &:hover {
    background: #5eaa2f;
  }

  &:active {
    background: #5eaa2f;

    span {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 260px;
    left: 83px;
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    margin: 22px auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    top: 310px;
    left: 190px;
  }
}

.promo__wrapper-back-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 302px;
  background-image: url("../img/mobile/index/catBackMainMobileRes.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/index/catBackMainMobileRes@2.png");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
    top: -117px;
    right: auto;
    left: 50%;
    width: calc(100% - 50%);
    height: 694px;
  }
}

.promo__back-image {
  width: 100%;
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
