.show-more {
  display: flex;
  flex-direction:column;
  @media (min-width:$tablet-width) {
    justify-content:space-between;
    align-items:center;
    box-sizing:border-box;
    background: none;
    border:solid 2px #F2F2F2;
  }
}
.show-more__name {
  text-align: center;
  margin:78px 0 0 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  @media (min-width: $tablet-width) {
    width:50%;
    margin:161px auto 0 auto;
    font-size:20px;
    line-height:22px;
  }
}
.show-more__text {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  @media (min-width: $tablet-width) {
    width:60%;
    margin:23px auto 0 auto;
    font-size:16px;
    line-height:18px;
  }
}
