.show-more {
  display: flex;
  flex-direction:column;
}
.show-more__name {
  text-align: center;
  margin:78px 0 0 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.show-more__text {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
