.show-more {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: none;
    border: solid 2px #f2f2f2;
  }
}

.show-more__name {
  position: relative;
  text-align: center;
  margin: 58px 0 0 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  &::before {
    content: "";
    position: absolute;
    top: -53px;
    left: calc(50% - 15px);
    background-image: url("../img/mobile/plus.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 60%;
    margin: 161px auto 0 auto;
    font-size: 20px;
    line-height: 22px;

    &::before {
      top: -109px;
      left: calc(50% - 30px);
      width: 60px;
      height: 60px;
    }
  }
}

.show-more__text {
  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 60%;
    margin: 23px auto 0 auto;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    width:80%;
  }
}
