.slider {
  @media (min-width: $tablet-width) {
    background: #EAEAEA;
  }

  @media (min-width: $desktop-width) {
    background: $basic_grey;
    min-width: 50%;
  }
}

.slider__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
